/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* HERO FULL SCREEN IMAGE */
.hero {
  height: 100vh;
  width: 100%;
  background: url("hero.png") center center / cover no-repeat;
}

/* ABOUT */
.about {
  padding: 60px 20px;
  text-align: center;
  background: #111;
}

.about h2 {
  margin-bottom: 20px;
}

/* SERVICES */
.services {
  padding: 60px 20px;
  text-align: center;
}

.service-boxes {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.box {
  background: #151515;
  padding: 30px;
  width: 260px;
  border-radius: 10px;
}
/* FORCE REMOVE HERO TEXT */
.hero h1,
.hero p,
.hero-content {
  display: none !important;
}
